@using DisgaeaPatcher.Controllers
@model DisgaeaPatcher.Controllers.HomeController

@{
    ViewBag.Title = "Parcheador Disgaea PC";
}
<!doctype html>

<html lang="es">
<head>
    <title>Parcheador Disgaea PC</title>
    <link rel="stylesheet" href="@Url.Content("~/css/bootstrap/bootstrap.min.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/css/Style.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/css/loading.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/css/bootstrap4-toggle.min.css")" type="text/css" />
    <script>
        let $ = require('jquery');
        let jQuery = require('jquery');
        require('popper.js');
        require('bootstrap');
        require('bootstrap4-toggle');
    </script>

    <meta charset="utf-8">
</head>
<body>
    <div class="bodyHtml bodyHtmlMain">
        <div style="display: none">
            <audio id="audioSelection" volume="0.3">
                <source src="@Url.Content("~/audio/selection.mp3")" type="audio/mpeg" />
                Your browser does not support the audio element.
            </audio>
            <audio id="audioEnter" volume="0.3">
                <source src="@Url.Content("~/audio/enter.mp3")" type="audio/mpeg" />
                Your browser does not support the audio element.
            </audio>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-6" style="text-align: left">
                    <img alt="" src="@Url.Content("~/img/Logo.png")" class="logo" />
                </div>
                <div class="col-6" style="text-align: right">
                    <img alt="" src="@Url.Content("~/img/LogoTeam.png")" style="height: 15vh; width: 23vw;" />
                </div>
            </div>
            <div class="row">
                <div class="col-6" style="margin-left: 10vw; margin-top: 5vh;">
                    <div class="dialogBox">
                        @if (!HomeController.Core.Installed)
                        {
                            <p id="install">Instalar</p>
                        }
                        <p id="play" style="display: @(!HomeController.Core.Installed ? "none" : "block");">Jugar</p>
                        <p id="credits">Créditos</p>
                        <p id="exit">Salir</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Progress -->
    <div class="modal fade" id="progressWindow" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content modalBox">
                <div class="modal-header modalTitle">
                    <h5 class="modal-title" id="progressTitle"></h5>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-3">
                                <img alt="" class="modalPrinny text-center align-middle" src="@Url.Content("~/img/prinny01.gif")" />
                            </div>
                            <div class="col-9" style="padding-top: 3vh;">
                                <span class="text-center align-middle" id="progressText"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Info -->
    <div class="modal fade" id="infoWindow" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content modalBox">
                <div class="modal-header modalTitle">
                    <h5 class="modal-title" id="infoTitle"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-3">
                                <img alt="" class="modalPrinny text-center align-middle" src="@Url.Content("~/img/prinny02.gif")" />
                            </div>
                            <div class="col-9" style="padding-top: 3vh;">
                                <span id="infoText"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal pirate -->
    <div class="modal fade" id="pirateWindow" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content modalBox">
                <div class="modal-header modalTitle">
                    <h5 class="modal-title">Copia ilegítima detectada</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-3" style="padding-top: 3vh;">
                                <img alt="" class="imgCreditsBox text-center align-middle" style="margin-left: 1vw;" src="@Url.Content("~/img/prinny04.gif")" />
                            </div>
                            <div class="col-9" style="padding-top: 3vh;">
                                <h4>ATENCIÓN: Se ha detectado una copia ilegítima de Disgaea PC.</h4>
                                <p>Es posible que el parche no funcione correctamente. Hypertraducciones no apoya la piratería, por lo que no podrá ofrecerte soporte.</p>
                                <p>Presiona «Jugar» para iniciar el juego.</p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" onclick="playGame()">Jugar</button>

                </div>
            </div>
        </div>
    </div>
    
<!-- Modal update -->
<div class="modal fade" id="updateWindow" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content modalBox">
            <div class="modal-header modalTitle">
                <h5 class="modal-title">¡Se ha encontrado una actualización!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-3" style="padding-top: 3vh;">
                            <img alt="" class="imgCreditsBox text-center align-middle" style="margin-left: 1vw;" src="@Url.Content("~/img/prinny00.gif")" />
                        </div>
                        <div class="col-9" style="padding-top: 3vh;">
                            <div id="updateText"></div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="update()">Actualizar</button>

            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function() {
        const audio = $("#audioSelection")[0];
        const audioEnter = $("#audioEnter")[0];
        $(".dialogBox p").mouseenter(function() {
            audio.play();
        });
        $(".dialogBox p").click(function() {
            audioEnter.play();
        });
        $("#exit").click(function() {
            $("body").addClass('fade-out');
            setTimeout(() => { window.close(); }, 1000);
        });
        $("#credits").click(function() {
            const url = "@Html.Raw(@Url.Action("OpenInfo", "Home"))";
            $.ajax({ url: url });
        });
        $("#play").click(function (evt) {
            $("#progressTitle").text("Comprobando actualizaciones...");
            $("#progressText").text("Se están comprobando las actualizaciones...");
            $("#progressWindow").modal('show');
            setTimeout(() => {
                check(evt);
            }, 1000);
            
        });
        $("#install").click(function() {
            $("#progressTitle").text("Comprobando archivos...");
            $("#progressText").text("Se están comprobando los archivos...");
            $("#progressWindow").modal('show');
            setTimeout(() => {
                patch();
            }, 1000);

        });

    });

    var english = false;

    function check(evt) {
        english = evt.ctrlKey;
        let pirate = false;

        $.ajax({ url: "@Html.Raw(@Url.Action("CheckGame", "Home"))" }).done(function(data) {

            if (!data.check) {
                $("#progressWindow").modal('hide');
                $("#infoTitle").text("Error verificando archivos.");
                $("#infoText").text(data.msg);
                $("#progressWindow").modal('hide');
                $("#infoWindow").modal('show');
                return;
            }

            if (data.msg || data.msg.length !== 0) {
                pirate = true;
            }

            $.ajax({ url: "@Html.Raw(@Url.Action("CheckInternet", "Home"))" }).done(function(data) {

                if (!data.check && pirate) {
                    $("#progressWindow").modal('hide');
                    $("#pirateWindow").modal('show');
                    return;
                }

                if (!data.check) {
                    noUpdate();
                    return;
                }

                $.ajax({ url: "@Html.Raw(@Url.Action("CheckUpdate", "Home"))" }).done(function(data) {

                    if (!data.check) {
                        noUpdate(pirate);
                        return;
                    } else {
                        $("#updateText").html(data.msg);
                        $("#progressWindow").modal('hide');
                        $("#updateWindow").modal('show');
                    }

                });

            });

        });

    }

    function playGame() {
        let url = "";
        if (english)
            url = "@Html.Raw(@Url.Action("OpenGame", "Home", new {type = "0"}))";
        else
            url = "@Html.Raw(@Url.Action("OpenGame", "Home", new {type = "1"}))";
        $.ajax({ url: url });
        $("body").addClass('fade-out');
        setTimeout(() => { window.close(); }, 1000);
    }

    function noUpdate(pirate) {
        $("#progressTitle").text("No hay actualizaciones.");
        $("#progressText").text("No se ha detectado ninguna actualización. Iniciando juego...");
        setTimeout(() => {
                if (pirate) {
                    $("#progressWindow").modal('hide');
                    $("#pirateWindow").modal('show');
                    return;
                }
                playGame();
            },
            2000);
    }

    function update() {
        $("#updateWindow").modal('hide');
        $("#progressTitle").text("Actualizando el parche...");
        $("#progressText").text("Se está actualizando el parche...");
        $("#progressWindow").modal('show');
        $.ajax({ url: "@Html.Raw(@Url.Action("PatchGame", "Home"))" }).done(function(data) {

            if (!data.check) {
                $("#progressWindow").modal('hide');
                $("#infoTitle").text("Error aplicando el parche.");
                $("#infoText").text(data.msg);
                $("#infoWindow").modal('show');
                return;
            }

            $.ajax({ url: "@Html.Raw(@Url.Action("CheckPiratedGame", "Home"))" }).done(function(data) {
                $("#progressWindow").modal('hide');
                $("#infoTitle").text("Parche instalado.");
                $("#infoText").text("Se ha instalado el parche correctamente. Iniciando juego...");
                $("#infoWindow").modal('show');
                setTimeout(() => {
                        if (data) {
                            $("#progressWindow").modal('hide');
                            $("#pirateWindow").modal('show');
                            return;
                        }
                        else {
                            playGame();
                        }
                    },
                    2000);
            });
        });
    }


    function patch() {
        $.ajax({ url: "@Html.Raw(@Url.Action("CheckGame", "Home"))" }).done(function(data) {

            if (!data.check) {
                $("#progressWindow").modal('hide');
                $("#infoTitle").text("Error verificando archivos.");
                $("#infoText").text(data.msg);
                $("#progressWindow").modal('hide');
                $("#infoWindow").modal('show');
                return;
            }
            $("#progressTitle").text("Aplicando parche.");
            $("#progressText").text("Se está aplicando el parche...");

            $.ajax({ url: "@Html.Raw(@Url.Action("PatchGame", "Home"))" }).done(function(data) {

                if (!data.check) {
                    $("#progressWindow").modal('hide');
                    $("#infoTitle").text("Error aplicando el parche.");
                    $("#infoText").text(data.msg);
                    $("#infoWindow").modal('show');
                    return;
                }

                $.ajax({ url: "@Html.Raw(@Url.Action("CheckPiratedGame", "Home"))" }).done(function(data) {
                    $("#install").hide();
                    $("#play").show();

                    if (data) {
                        $("#progressWindow").modal('hide');
                        $("#pirateWindow").modal('show');
                        return;
                    }
                    $("#progressWindow").modal('hide');
                    $("#infoTitle").text("Parche instalado.");
                    $("#infoText").text("Se ha instalado el parche correctamente.");
                    $("#infoWindow").modal('show');
                    
                });
            });
        });
    }
</script>
</body>
</html>
